<div class="link-div">
    <div class="link"><a [routerLink]="['/a']" [routerLinkActive]="['router-link-active']">Route A</a></div>
    <div class="link"><a [routerLink]="['/b']" [routerLinkActive]="['router-link-active']">Route B</a></div>
    <div class="link"><a [routerLink]="['/c']" [routerLinkActive]="['router-link-active']">Route C</a></div>


</div>
<router-outlet></router-outlet>