.link-div {
    display: block;
    margin: 0 auto;
    top: 10px;
    width: 200px;
    height: 20px;
    background-color: green;
}

.link {
    display: inline-block;
    color: white;
    margin: 0 auto;
    cursor: pointer;
    font-size: 14px;
}